.menu, .menu-bg, .menu-burger {
  position: fixed;
  font-size: 30px;
  text-align: center;
  right: 32px;
  top: 3px;
  z-index: 4000;
  border-radius: 4px;
}

.menu-bg {
  background: #00b44e;
  right: 0px;
  top: 0px;
}
.menu-bg.fs {
  width: 100vw;
  height: 100vh;
  /* background: gray; */
  background-image: url('../img/shattered.png');
}

.menu-burger {
  color: #00b44e;
  padding-top: 0;
  -webkit-user-select: none;
  cursor: pointer;
  transition: 0.1s;
  transform-origin: center;
  right: 12px;
  width: 36px;
  height: auto;
}
.menu-burger.fs {
  transition: 0.1s;
  transform: rotate(-90deg);
  /* background: white; */
  background: transparent;
  color: #00B44E;
  font-size: 2.6em;
}

.menu-items .col-md-4 {
  padding: 0px 5px;
}

.menu-items {
  background-image: url('../img/shattered.png');
  /* opacity: 1; */
  /* background: rgba(0, 0, 0, 0.5); */
  position: fixed;
  font-weight: bold;
  color: black;
  width: 100%;
  opacity: 0;
  z-index: 4000;
  margin-top: 3em;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.menu-items div {
  /*transition: 1s;*/
  opacity: 0;
  margin-top: 0px;
}
.menu-items.fs {
  pointer-events: auto;
  opacity: 1;
}
.menu-items.fs div {
  opacity: 1;
}

.menu-items .row-1 .tile{
  padding: 2px;
}

.menu-items .row-1 .tile img{
  width: 100%;
}

.menu-items .row-1 .hamburger-image img{
  object-fit: cover;
    height: 108.5vh;
}
.menu-items .downloads h1{
  font-size: 1em;
}

.menu-items .downloads a{
  /*font-size: 0.8em;*/
}

.menu-items .downloads .row{
  margin: 2em 0;
}

.content {
  padding: 100px 50px;
  line-height: 1.62em;
  color: #444;
}
.content h1 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 1em;
}

.hidden{
  display: none;
}

.green-background{
  background-color: #00b44e;
}

.close i{
  color: #000 !important;
  font-size: 2em;
}
