
body{
	/*background: #000;*/
	font-family: ;
	margin-top: 6.2%;
}

.navbar-fixed-top{
	background: #FFF;
	padding: 1em 1em;
}
.navbar-nav{
	float: right; 
}
.navbar-nav li a{
	color: #000;
}
#brand h1{
	text-align: center;
	color: #FFF;
}
#heading h1{
	text-align: center;
	color: green;
	font-size: 3em;
}
/* this is my glyphicon 
-----------------------------------
#play-btn{
	font-size: 3em;
	text-align: center;
}

*/
/* Little kids swimming image positioning */
#letSwim{
	position: relative;
	top: 0;
	right: ;
}
#letSaf{
	position: absolute;
	height: 92em;
	top: 50em;
	left: 0;
	bottom: 0;
}
/*.letHook{
	position: absolute;
	top: 0;
}*/
/* this is my side text */
.slide-text h1{
	color: #FFF;
	font-size: 10em;
	font-weight: bolder;
	/*padding: 1% 2em;*/
	position: absolute;
	line-height: 0.8em;
	text-align: center;
	bottom: 3.8em;
}

.slide-text p{
	color: #FFF;
	font-family: century gothic;
	font-size: 18px;
	/*padding: 1% 22em;*/
	position: absolute;
	text-align: center;
	line-height: 22px;
	bottom: 25em;
	max-width: 100%;
	padding-left: 8em;
	padding-right: 8em;

}

/*.slide-text h1{
	color: #FFF;
	font-size: 8em;
	font-weight: bolder;
	font-family: ;
	padding-left: 5em;
	padding-right: 5em;

}*/
/* section two */
#performance {
	margin-top: 5em;
}

#performance h1{ 
	color:  green;
	font-size: 5em;
	font-weight: bold;
	text-align: left;
	padding: 2px;
	margin-bottom: 1em;
}

#performance-paragraph p{
	font-family: Open sans 'Comfortaa';
	font-size: 17px;
	text-align: left;
	padding: 4px 6%;
	}
	#performance-paragraph{
	/*background: green;*/
	overflow-x: scroll;
	height: 400px;
	/*max-width: 800px;*/
	}


.strong-kids{
	background-image: url('../img/move-forward.jpg');
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
}

/* SUPAKIDS SECTION*/
.supakids-text{
	margin-top: 2em;
	padding: 0 4em;
	margin-bottom: 7%;
}

.supakids-text h1{
	color: #FFF;
	text-align: left;
	font-weight: bolder;
	font-size: 7em;
	margin: 1.2em 0;
}

.smaLinks a{
	margin-left: 2em;
	margin-right: 0;
	padding: 1em;
	float: left;
	padding-bottom: 10em;
}

/* DOWNLOAD A COPY SECTION */
.downloadYouCopy{
	background: transparent;
	/*margin: 0 8em;*/
}

.downloads{
	margin-top: 6.6em;
	padding-left: 12em;
	padding-left: 12em;
}

.downloads h3{
	color: green;
	text-align: left;
	font-weight: bold;
	font-size: 4em;
	padding: 0px 6px 4px 0;
} 

.downloadMbs{
	padding-left: 8em; 
	margin-bottom: 3em;
}
.download-mbs p{
	color: #000;
	font-weight: bold;
	font-size: 1.5em;
	text-align: left;
	padding: 2px 5%;
}

#newspaper{
	padding-bottom: 3%; 
}

/* the BIG DEAL*/

.ceo h2{
	color: green;
	font-size: 3em;
	font-family: arial;
	font-style: italic;
	line-height: 40px;
	max-width: 36%;
	padding: 5px 3px 4px 15px;
}

.ceo h1{
	color: green;
	font-size: 5em;
	font-family: arial;
	line-height: 65px;
	font-weight: bolder;
	text-align: left;
	padding: 1.5em 3em 4px 2.3em;
}

.ceo p{
	color: #000;
	font-size: 18px;
	padding: 5px 0.5em 4px 9em;
	max-width: 78%;
	height: 23em;
	overflow: scroll;
}



.chairman h2{
	color: green;
	font-size: 3em;
	font-family: arial;
	font-style: italic;
	line-height: 40px;
	max-width: 37%;
}

.chairman h1{
	color: green;
	font-size: 5em;
	font-family: arial;
	line-height: 65px;
	font-weight: bolder;
	text-align: left;
	padding: 1.5em 3em 4px 2.3em;
}

.chairman p{
	color: #000;
	font-size: 18px;
	padding: 5px 0.5em 4px 9em;
	max-width: 78%;
	height: 23em;
	overflow: scroll;
}


.executive h2{
	color: green;
	font-size: 3em;
	font-family: arial;
	font-style: italic;
	line-height: 40px;
	max-width: 36%;
}

.executive h1{
	color: green;
	font-size: 5em;
	font-family: arial;
	line-height: 65px;
	font-weight: bolder;
	text-align: left;
	padding: 1.5em 3em 4px 2.3em;
}

.executive p{
	color: #000;
	font-size: 18px;
	padding: 5px 0.5em 4px 9em;
	max-width: 78%;
	height: 23em;
	overflow: scroll;
}

hr{
	background: green;
	width: 60%;
	height: 2px;
}
/* start of overlayPart -------*/
.myImage-One{
}

#girl-boy{
	padding: 2em 2em 2em 2em;
}
.textBox h2{
	color: white;
	font-size: 1.8em;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	bottom: 10em;
	left: 8em;
	right: 8em;
}
/* side nav */
.sideBar{
	padding: 2% 5%;
}

.sideBar ul li a{
	list-style-type: none;
}
.sideBar li a{
	display: block;
	padding: 1.5em 1.5em;
	text-decoration: none;
	background: #000;
	color: white;
	font-size: 18px;
	border: solid 1px green;
}
.sideBar li a:hover{
	color: green;
	border: solid 1px green;
}
.sideBar li a.active{
	color: green;
}
/* side nav */
#scroll{
	margin-top: 45em;
}
.customers{
	/*background: black;*/
	height: 70em;
	overflow-x: hidden;
	margin: 4px 0;
}
.customers h2{
	color: green;
	font-size: 3em;
	font-weight: bold;
	text-align: left;
	padding: 2px 1em;
}

.customers p{
	color: #000;
	font-size: 18px;
	text-align: left;
	padding: 1em 4em;
	max-width: 80%;
}
.customers{
	height: 25em;
}
