
body{
	/* background: #000; */
	font-family: ;
	margin-top: 4.5%;
}
.site_wrapper{
	padding: 0;
}
.navbar-fixed-top{
	background: rgba(255, 255, 255, 1.0);
	padding: 10px 0;
}
/* HUMBURGER MENU */

/* /HUMBURGER MENU END */
/* #heading h1{
	font-family: ;
	text-align: center;
	color: #000;
	font-weight: 800;
	font-size: 4em;
} */



/* meeeeeeeeeeeeeeee */


/* carousel-inner */
/* slideshow-fade */



.carousel-caption{
	margin-bottom: 12em;
}
.carousel-caption h1{
	font-family: 'Montserrat', Open Sans;
	font-size: 10rem;
	font-weight: 800;
	line-height: 85px;
}
.carousel-caption p{
	font-family: 'Montserrat', Open Sans;
	font-weight:  100;
	text-align: left;
	font-size: 18px;
	line-height: 22px;
	/* font-family: century gothic; */
}

/* BANNER INDICATORS */
.bannerInd li{
			display: inline-block;
			width: 15px;
			height: 15px;
			margin: 10px;
			text-indent: 0;
			background: transparent;
			border: solid 2px green;

}
.carousel-indicators li{
	display: inline-block;
    width: 15px;
    height: 15px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: solid 2px green;
    /* border-radius: 50%;  */
    background: green;
    /* box-shadow: inset 1px 5px 2px 0px transparent; */
}
.carousel-indicators .active {
    width: 15px;
    height: 15px;
    margin: 10px;
    background: #FFF;
}

.control{
	color: #FFF;
	height: 55px;
	top: 60%;
	background: green;
	/* margin-left: 5%; */
}
.leftArrow,
.rightArrow{
	/* display: none; */
}

/* HIGHLIGHTS TEXT SLIDE */
#img{
	height: 0;
	width: 100%;
}
#mySlide_Text{
	/*top: 10em;*/
}
#glance h1{
	color: green;
	font-family: 'Montserrat', Open Sans;
	text-align: left;
	/* text-transform: lowercase; */
	font-weight: 700;
	font-size: 5rem;
	line-height: 68px;
	padding: 0 3em 0 2em;
	margin-top: 2em;
	min-width: 100%;
}
.infoGraphs{
	padding-top: 2em;
}
.one,
.two,
.three p{
	/* background: black; */
	font-family: 'Nunito', sans-serif;
	text-align: left;
	padding: 3em 3em 4.5em 3em;
	margin-right: 1.5em;
	margin-left: 1.5em;
	margin-top: 3em;
	line-height: 22px;
	letter-spacing: 1px;
	word-spacing: 0;
	font-weight: 100;
	font-size: 18px;
	/* max-width: 100%; */
}

/* SMALL GIRL */
.girl{
	margin-bottom: 30em;
	margin-left: 5em;
	position: absolute;
	z-index: 1;
	left: 0;
	bottom: 0;
}
.girl h1{
	text-align: left;
	font-size: 11rem;
	line-height: 0.8em;
	max-width: 100%;
	font-weight: 800;
}
/* BOB */
.bobCollymore{
	margin-left: 10em;
	position: absolute;
	z-index: 1;
	right: 0;
	bottom: 0;
}
.bob{
	margin-left: 22.2em;
	/*padding: 2em;*/
}
.bobHead{
	margin-left: 2em;
	/*padding: 2em;*/
}
.ceoLinks{
	padding: 3em 3em 3em 0;
}
.ceoLinks a{
	color: #FFF;
	font-size: 18px;
	text-decoration: none;
	text-align: left;
}
.read{
	background: green;
	padding: 10px 2em;
	margin-right: 2em;
}

#video-view h1{
	font-size: 4em;
	font-weight: 300;
	font-family: 'Nunito', sans-serif;
}
.popup{
	border: solid #FFF 2px;
	padding: 10px 2em;
}
#video-view{
	margin-top: 5em;
}
.video{
	/*background: #000;*/
	padding: 10px 2em;
	border: solid 2px #FFF;
}


/* CHAIRMAN AND THE EXECUTIVE */
.board{
	margin-left: 5em;
	position: absolute;
	z-index: 1;
	left: 0;
	bottom: 0;
}
.chairman{
	/* margin-right: 17em; */
	text-align: left;
	/*padding: 2em;*/
}
.chairHead{
	margin-left: 0;
	text-align: justify;
	/*padding: 2em;*/
}
.chairmanLinks{
	padding: 3em 3em 3em 0;
	float: left;
}
.chairmanLinks a{
	color: #FFF;
	font-size: 18px;
	text-decoration: none;
	text-align: left;
}

.sateesh{
	margin-left: 0;
	/*padding: 2em;*/
	text-align: left: ;
}
.exeHead{
	margin-left: 0;
	text-align: left;
	/*padding: 2em;*/
}
.exeLinks{
	padding: 3em 3em 3em 0;
	float: left;
}
.exeLinks a{
	color: #FFF;
	font-size: 18px;
	text-decoration: none;
	text-align: left;
}
/* carousel slider */
/* this is my glyphicon
-----------------------------------
#play-btn{
	font-size: 3em;
	text-align: center;
}

*/
/* Little kids swimming image positioning */
#letSwim{
	position: relative;
	top: 0;
	right: ;
	max-width: 100%;
	}
#letSaf{
	position: absolute;
	min-height: 93em;
	top: 180rem;
	left: 0;
	bottom: 0;
}

/*.letHook{
	position: absolute;
	top: 0;
}*/
/* this is my side text 
.slide-text h1{
	color: #FFF;
	font-size: 10em;
	font-weight: bolder;
	/*padding: 1% 2em;
	position: absolute;
	line-height: 0.8em;
	text-align: center;
	bottom: 3.8em;
}

.slide-text p{
	color: #FFF;
	font-family: century gothic;
	font-size: 18px;
	/*padding: 1% 22em;
	position: absolute;
	text-align: center;
	line-height: 22px;
	bottom: 25em;
	max-width: 100%;
	padding-left: 8em;
	padding-right: 8em;

}*/

/*.slide-text h1{
	color: #FFF;
	font-size: 8em;
	font-weight: bolder;
	font-family: ;
	padding-left: 5em;
	padding-right: 5em;

}*/
/* section two */
/* #performance {
	margin-top: 5em;
}

#performance h1{
	color:  green;
	font-size: 5em;
	font-weight: bold;
	text-align: left;
	padding: 2px;
	margin-bottom: 1em;
}

#performance-paragraph p{
	font-family: Open sans 'Comfortaa';
	font-size: 17px;
	text-align: left;
	padding: 4px 6%;
	}
	#performance-paragraph{
	background: green;
	overflow-x: scroll;
	height: 400px;
	max-width: 800px;
	} */


.strong-kids{
	background-image: url('../img/move-forward.jpg');
	background-repeat: no-repeat;
	max-width: 100%;
	/* height: auto; */
}

/* SUPAKIDS SECTION*/
.supakids-text{
	margin-top: 2em;
	padding-left: 4em;
	padding-right: 3em;
	margin-bottom: 5%;
	/* max-width: 100%; */
}

.supakids-text h1{
	color: #FFF;
	text-align: left;
	font-weight: 800;
	font-family: 'Montserrat', Open Sans;
	line-height: 0.8em;
	font-size: 10rem;
	/* margin: 2.5em 3em 1em 0; */
	margin-top: 3em;
	max-width: 70%;
}

.smaLinks a{
	margin-left: 10px;
	margin-right: 0;
	padding: 1em;
	float: left;
	padding-bottom: 10em;
}

/* the BIG DEAL*/

.ceo h2{
	color: green;
	font-size: 3em;
	font-family: arial;
	font-style: italic;
	line-height: 40px;
	max-width: 36%;
	padding: 5px 3px 4px 15px;
}

.ceo h1{
	color: green;
	font-size: 5em;
	font-family: arial;
	line-height: 65px;
	font-weight: bolder;
	text-align: left;
	padding: 1.5em 3em 4px 2.3em;
}

.ceo p{
	color: #000;
	font-size: 18px;
	padding: 5px 0.5em 4px 9em;
	max-width: 78%;
	height: 23em;
	overflow: scroll;
}



.chairman h2{
	color: green;
	font-size: 3em;
	font-family: arial;
	font-style: italic;
	line-height: 40px;
	max-width: 37%;
}

.chairman h1{
	color: green;
	font-size: 5em;
	font-family: arial;
	line-height: 65px;
	font-weight: bolder;
	text-align: left;
	padding: 1.5em 3em 4px 2.3em;
}

.chairman p{
	color: #000;
	font-size: 18px;
	padding: 5px 0.5em 4px 9em;
	max-width: 78%;
	height: 23em;
	overflow: scroll;
}


.executive h2{
	color: green;
	font-size: 3em;
	font-family: arial;
	font-style: italic;
	line-height: 40px;
	max-width: 36%;
}

.executive h1{
	color: green;
	font-size: 5em;
	font-family: arial;
	line-height: 65px;
	font-weight: bolder;
	text-align: left;
	padding: 1.5em 3em 4px 2.3em;
}

.executive p{
	color: #000;
	font-size: 18px;
	padding: 5px 0.5em 4px 9em;
	max-width: 78%;
	height: 23em;
	overflow: scroll;
}


/* FORGET ABOUT THIS OVERLAY */
/* start of overlayPart -------*/
.myImage-One{
}

#girl-boy{
	/*padding: 2em 2em 2em 2em;*/
}

.textBox h2{
	color: white;
	font-size: 1.8em;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	bottom: 10em;
	left: 8em;
	right: 8em;
}

.back2Menu a{
	padding-left: 10em}
/* side nav */
.sideBar{
	padding: 2% 5%;
}
/* side nav */

.backgrounGray{
	background: rgb(192, 189, 189);
}

#scroll{
	margin-top: 45em;
}
.customers{
	/*background: black;*/
	/*float: left;*/
	height: 70em;
	overflow-x: hidden;
	margin: 4px 0;
}
.customers h2{
	color: green;
	font-size: 3em;
	font-weight: bold;
	text-align: left;
	padding: 2px 1em;
}

.customers p{
	color: #000;
	font-size: 18px;
	text-align: left;
	padding: 1em 4em;
	max-width: 80%;
}
.customers{
	height: 25em;
}

/* 


#mySidebar{
	width: 250px;
	background: #111;
}
.sidebar a{
	color: black;
}
.closeBtn{
	font-weight: 800;
	font-size: 3em;
	color: #000;
}
.content h1{
	font-weight: 800;
	line-height: 22px;
	font-family: verdana;
}
.content p{
	font-weight: 400;
	line-height: 22px;
	font-family: century gothic;
}

.contentTwo h2{
	font-weight: 800;
	line-height: 22px;
	font-family: century gothic;
}
.contentTwo p{
	font-weight: 400;
	line-height: 22px;
	font-family: verdana;
}
.buttton{
	color: black; 
}


*/

.downloadSection{
	background: transparent;
	padding-top: 10em;
}
.copyDownload{

}
.copyDownload h2{
	color: green;
	text-align: left;
	font-family: 'Montserrat', Open Sans;
	font-weight: 800;
	font-size: 6rem;
	line-height: 45px;
	padding: 0 15px 0 1.3em;
	margin: 0 10px;
}
.mbsOne,
.mbTwo{
	margin-top: 2em;
}

.mbsOne,
.mbsTwo p{
	color: #000 !important;
	line-height: 32px;
	font-family: 'Montserrat', Open Sans;
	font-weight: 600;
	font-size: 1.8rem;
	text-align: left;
	text-transform: uppercase;
	padding-left: 6em;
	/* padding-top: 3em; */
	margin-top: 2em;
}
#bytes{
	text-transform: lowercase;
	color: #000;
	font-weight: 100;
}

/* landing pages */
.ceoText h2{
	color: green !important;
	font-family: 'Montserrat', Open Sans;
	font-size: 3rem;
	font-style: italic;
	font-weight: 100;
	line-height: 36px;
	text-transform: uppercase;
}
#next{
	font-weight: 800;
	padding-left: 4em;
}

.ceoText h1{
	color: green !important;
	font-family: 'Montserrat', Open Sans;
	font-weight: 800;
	line-height: 60px;
	font-size: 7rem;
	padding-left: 18rem;
}
.ceoTalk p{
	/* background: black; */
	padding-left: 10rem;
	padding-right: 18rem;
	padding-bottom: 7rem;
	padding-top: 5rem;
	margin-right: 8rem;
	margin-left: 8rem;
	line-height: 22px;
	font-size: 2rem;
	font-weight: 200;
	font-family: 'Nunito', sans-serif;
	/* max-width: 100%; */
}
.arrow,
.arrow2{
	color: green;
}
#control{
	color: #FFF;
	height: 55px;
	top: 40%;
	font-weight: 100;
	background: transparent;
	/* display: none; */
}
hr{
	background: green !important;
	width: 15%;
	height: 2px;
	top: 8%;
	left: 24%;
	position: absolute;
}
.story{
	margin-right: 15rem;
}


