.uppercase {
  text-transform: uppercase;
}
.display-flex {
	display: flex;
}
.left-5 {
	left: 5%;
}
.left-50{
	left: 50%;
}
.padding-left-0 {
	padding-left: 0 !important;
}
.padding-right-0 {
	padding-right: 0 !important;
}
.padding-left-15 {
	padding-left: 15px !important;
}
.margin-left-0 {
	margin-left: 0 !important;
}

.height-40 {
	height: 40em;
	max-height: 40em;
}
.scroll-y {
	overflow-y: scroll;
}
.scroll-y {
	overflow-y: scroll;
}
.scroll-y {
	overflow-y: scroll;
}
.montserrat-black {
	font-family: "Montserrat Black", sans-serif;
}
.montserrat-book {
	font-family: "Montserrat Book", sans-serif;
}
.montserrat-extra-bold{
	font-family: "Montserrat ExtraBold", sans-serif;
}
.montserrat-medium {
	font-family: "Montserrat Medium", sans-serif;
}
.montserrat-regular {
	font-family: "Montserrat Regular", sans-serif;
}
.montserrat-semi-bold{
	font-family: "Montserrat SemiBold", sans-serif;
}

.gotham-black {
	font-family: "Gotham Black", sans-serif;
}
.gotham-book {
	font-family: "Gotham Book", sans-serif;
}
.gotham-book-regular {
	font-family: "Gotham Book Regular", sans-serif;
}
.gotham-narrow-book {
	font-family: "Gotham Narrow Book", sans-serif;
}

/*---------------------------------------
    MEDIA QUERY
-----------------------------------------*/

@media screen and (max-width: 1280px) {
	.intro-slider-text.gallery-text h1{
		font-size: 7em !important;
	}
	.cfo-slide .gallery-text h1{
		font-size: 4.5em !important;
	}
}

@media screen and (max-width: 1170px) {
	.perform {
		height: 28em !important;
		max-height: 28em !important;
	}
	#glance h1 {
    font-size: 3em !important;
    padding: 3em 0.5em 0 1em !important;
	}
	#glance h1 {
    font-size: 2.5em !important;
    padding: 4em 0.5em 0 1.5em !important;
	}
	.downloads h1 {
    font-size: 2em !important;
	}
	.gallery-text h1, .supakids-text h1 {
		font-size: 5em !important;
	}
	.intro-slider-text.gallery-text h1{
		font-size: 7em !important;
	}
	.video-icon h6 {
		/*padding: 2em 0 !important;*/
	}
	.cfo-slide .gallery-text h1{
		font-size: 3.5em !important;
	}
}

@media screen and (max-width: 1085px) {
	.intro-slider-text.gallery-text h1 {
		font-size: 6.5em !important;
	}
}

@media screen and (max-width: 1024px) {
	.highlights {
		height: 38em !important;
    max-height: 38em !important;
	}
	.safaricom-hook, .mouse {
		display: none;
	}
	#letSwim{
		height: 38em !important;
		max-height: 38em !important;
	}
	.perform {
		height: 23em !important;
		max-height: 23em !important;
	}
	#glance h1 {
    font-size: 2.5em !important;
    padding: 1em 0.5em 0 1.5em !important;
	}
	.downloads h1 {
    font-size: 2em !important;
	}
	.gallery-text h1, .supakids-text h1 {
		font-size: 4em !important;
	}
	.intro-slider-text.gallery-text h1{
		font-size: 6em !important;
	}
	.gallery-text {
		/*top: 25% !important;*/
	}

	.cfo-slide .gallery-text h1{
		font-size: 3.2em !important;
	}
}

@media screen and (max-width: 990px) {
	.wall-wrapper h3.tab-link{
		display: block !important;
	}
	.wall-wrapper .sideNav{
		display: none !important;
	}
	.tab-content {
    height: 25vh !important;
  }
  .tab-content h2{
  	display: none !important;
  }
}

@media screen and (max-width: 930px) {
	.intro-slider-text.gallery-text h1 {
    font-size: 5.5em !important;
	}
}

@media screen and (max-width: 870px) {
	.highlights {
		height: 35em !important;
    max-height: 35em !important;
	}
	#letSwim{
		height: 35em !important;
		max-height: 35em !important;
	}
	.perform {
		height: 20em !important;
	}
	#glance h1 {
    font-size: 2.5em !important;
    padding: 1em 0.5em 0 1.5em !important;
	}
	.bannerInd {
    left: 9% !important;
	}
	.gallery-text {
		/*top: 20% !important;*/
	}
	.gallery-text h1, .supakids-text h1 {
		font-size: 3.5em !important;
		line-height: 1em !important;
	}
	.intro-slider-text.gallery-text h1{
		font-size: 5em !important;
	}
	.gallery-text p, .gallery-btn a.btn, .video-icon h6 {
		font-size: 1em !important;
	}
	.video-icon h6 {
		padding: 2em 0 !important;
	}
}

@media screen and (max-width: 780px) {

	.infoGraphs{
		width: 100% !important;
	}
	.kids-swimming {
		display: none !important;
	}
	.downloads-text {
		left: 4% !important;
		width: 40 !important;
	} .downloads-img {
		width: 60% !important;
	}
	.bannerInd {
    left: 10% !important;
	}
	#intro .gallery-text {
		top: 40% !important;
	}
	.gallery-text h1, .supakids-text h1 {
		font-size: 3em !important;
	}
	.intro-slider-text.gallery-text h1{
		font-size: 4em !important;
	}
	.gallery-text p, .gallery-btn a.btn, .video-icon h6 {
		font-size: 0.9em !important;
	}
	.gallery-text-right {
		left: 50% !important;
	}
	.video-icon h6 {
		padding: 2em 0 !important;
	}
	.cfo-slide .gallery-text h1{
		font-size: 3em !important;
	}
}

@media screen and (max-width: 650px) {
	.green{
		transform: skewX(40deg) !important;
		left: -97% !important;
	}
	.gallery-image{
		/*background-size: cover !important;*/
	}

	.gallery-image.overlay-1{
	  background: url('../img/overlay-1-small.png') center center no-repeat !important;
	  background-size: cover !important;
	}

	.gallery-image.overlay-2{
	  background: url('../img/overlay-2-small.png') center center no-repeat !important;
	  background-size: cover !important;
	}

	.gallery-image.overlay-3{
	  background: url('../img/overlay-3-small.png') center center no-repeat !important;
	  background-size: cover !important;
	}

	.gallery-image.overlay-4{
	  background: url('../img/overlay-4-small.png') center center no-repeat !important;
	  background-size: cover !important;
	}

	.executive-gallery-image.ceo-slide{
	  background: url('../img/ceo.jpg') top center;
	}

	.executive-gallery-image.chairman-slide{
	  background: url('../img/chairman.jpg') top center;
	  background-size: contain;
	}

	.executive-gallery-image.cfo-slide{
	  background: url('../img/cfo.jpg') top center;
	  background-size: contain;
	}


	.highlights {
		height: 33em !important;
    max-height: 33em !important;
	}
	#glance h1 {
    font-size: 2em !important;
    padding: 0.5em 0.5em 0 2em !important;
	}
	.bannerInd {
    left: 11% !important;
	}
	.gallery-text {
		top: 10% !important;
	}
	.gallery-text h1, .supakids-text h1 {
		font-size: 1.7em !important;
	}
	.intro-slider-text.gallery-text h1{
		font-size: 3em !important;
	}
	.gallery-text p, .gallery-btn a.btn, .video-icon h6 {
		font-size: 0.7em !important;
	}
	.gallery-text-right {
		left: 45% !important;
	}
	.video-icon h6 {
		padding: 2em 0 !important;
	}
	.cfo-slide .gallery-text h1{
		font-size: 2.6em !important;
	}
}

/
@media screen and (max-width: 560px) {
	.intro-slider-text.gallery-text h1{
		font-size: 2.75em !important;
	}
	.cfo-slide .gallery-text h1{
		font-size: 2.3em !important;
	}
}

@media screen and (max-width: 524px) {
	.intro-slider-text.gallery-text h1{
		font-size: 2.25em !important;
	}
	.cfo-slide .gallery-text h1{
		font-size: 1.7em !important;
	}
}*/

/*@media screen and (max-width: 433px) {
	.bannerInd {
    left: 15% !important;
	}
	.gallery-text h1, .supakids-text h1 {
		font-size: 1.5em !important;
	}
	.intro-slider-text.gallery-text h1{
		font-size: 1.5em !important;
	}
	.gallery-text p, .gallery-btn a.btn, .video-icon h6 {
		font-size: 0.5em !important;
		margin-top: 0 !important;
	}
	.cfo-slide .gallery-text h1{
		font-size: 1.2em !important;
	}
}*/

