
.display-flex {
	display: flex;
}
.left-5 {
	left: 5%;
}
.left-50{
	left: 50%;
}
.padding-left-0 {
	padding-left: 0;
}
.padding-right-0 {
	padding-right: 0;
}

.height-40 {
	height: 40em;
	max-height: 40em;
}
.scroll-y {
	overflow-y: scroll;
}

/*---------------------------------------
    MEDIA QUERY
-----------------------------------------*/

@media screen and (max-width: 1124px) { 
	#perform {
		height: 28em !important;
		max-height: 28em !important;
	}
	#glance h1 {
    font-size: 3em !important;
    padding: 1em 0.5em 0 1em !important;
	}

}

@media screen and (max-width: 1024px) {

	.downloads h1 {
    font-size: 2em !important;
	}
}

@media screen and (max-width: 870px) { 
	.highLights {
		height: 35em !important;
    max-height: 35em !important;
	}
	#letSwim{
		height: 35em !important;
		max-height: 35em !important;
	}
	#perform {
		height: 23em !important;
		max-height: 23em !important;
	}
	#glance h1 {
    font-size: 2.5em !important;
    padding: 1em 0.5em 0 1.5em !important;
	}
}

@media screen and (max-width: 770px) { 

	.kids-swimming {
		display: none;
	}
	.downloads-text {
		left: 4%;
		width: 40%
	} .downloads-img {
		width: 60%;
	}
}

@media screen and (max-width: 624px) { 
	.highLights {
		height: 33em !important;
    max-height: 33em !important;
	}
	#glance h1 {
    font-size: 2em !important;
    padding: 0.5em 0.5em 0 2em !important;
	}
   
}

@media screen and (max-width: 400px) { 

}

