.uppercase {
  text-transform: uppercase;
}
.display-flex {
	display: flex;
}
.left-5 {
	left: 5%;
}
.left-50{
	left: 50%;
}
.padding-left-0 {
	padding-left: 0 !important;
}
.padding-right-0 {
	padding-right: 0 !important;
}
.padding-left-15 {
	padding-left: 15px !important;
}
.margin-left-0 {
	margin-left: 0 !important;
}

.height-40 {
	height: 40em;
	max-height: 40em;
}
.scroll-y {
	overflow-y: scroll;
}
.scroll-y {
	overflow-y: scroll;
}
.scroll-y {
	overflow-y: scroll;
}
.montserrat-black {
	font-family: "Montserrat Black", sans-serif;
}
.montserrat-book {
	font-family: "Montserrat Book", sans-serif;
}
.montserrat-extra-bold{
	font-family: "Montserrat ExtraBold", sans-serif;
}
.montserrat-medium {
	font-family: "Montserrat Medium", sans-serif;
}
.montserrat-regular {
	font-family: "Montserrat Regular", sans-serif;
}
.montserrat-semi-bold{
	font-family: "Montserrat SemiBold", sans-serif;
}

.gotham-black {
	font-family: "Gotham Black", sans-serif;
}
.gotham-book {
	font-family: "Gotham Book", sans-serif;
}
.gotham-book-regular {
	font-family: "Gotham Book Regular", sans-serif;
}
.gotham-narrow-book {
	font-family: "Gotham Narrow Book", sans-serif;
}

/*---------------------------------------
    MEDIA QUERY
-----------------------------------------*/

@media screen and (max-width: 1124px) {
	#perform {
		height: 28em !important;
		max-height: 28em !important;
	}
	#glance h1 {
    font-size: 3em !important;
    padding: 3em 0.5em 0 1em !important;
	}
	#glance h1 {
    font-size: 2.5em !important;
    padding: 4em 0.5em 0 1.5em !important;
	}
	.downloads h1 {
    font-size: 2em !important;
	}
	.gallery-text h1, .supakids-text h1 {
		font-size: 4em !important;
	}
	.video-icon h6 {
		padding: 6% 2% 0 5% !important;
	}

}

@media screen and (max-width: 1024px) {

	.highLights {
		height: 38em !important;
    max-height: 38em !important;
	}
	.safaricom-hook, .mouse {
		display: none;
	}
	#letSwim{
		height: 38em !important;
		max-height: 38em !important;
	}
	#perform {
		height: 23em !important;
		max-height: 23em !important;
	}
	#glance h1 {
    font-size: 2.5em !important;
    padding: 1em 0.5em 0 1.5em !important;
	}
	.downloads h1 {
    font-size: 2em !important;
	}
	.gallery-text h1, .supakids-text h1 {
		font-size: 4em !important;
	}
	.gallery-text {
		top: 12% !important;
	}
}

@media screen and (max-width: 870px) {
	.highLights {
		height: 35em !important;
    max-height: 35em !important;
	}
	#letSwim{
		height: 35em !important;
		max-height: 35em !important;
	}
	#perform {
		height: 23em !important;
		max-height: 23em !important;
	}
	#glance h1 {
    font-size: 2.5em !important;
    padding: 1em 0.5em 0 1.5em !important;
	}
	.bannerInd {
    left: 9% !important;
	}
	.gallery-text {
		top: 10% !important;
	}
	.gallery-text h1, .supakids-text h1 {
		font-size: 3.5em !important;
		line-height: 1em !important;
	}
	.gallery-text p, .gallery-btn a.btn, .video-icon h6 {
		font-size: 0.8em !important;
	}
	.video-icon h6 {
		padding: 3% 2% 0 5% !important;
	}
}

@media screen and (max-width: 770px) {

	.infoGraphs{
		width: 100% !important;
	}
	.kids-swimming {
		display: none !important;
	}
	.downloads-text {
		left: 4% !important;
		width: 40 !important;
	} .downloads-img {
		width: 60% !important;
	}
	.bannerInd {
    left: 10% !important;
	}
	.gallery-text {
		top: 9% !important;
	}
	.gallery-text h1, .supakids-text h1 {
		font-size: 3em !important;
	}
	.gallery-text p, .gallery-btn a.btn, .video-icon h6 {
		font-size: 0.8em !important;
	}
	.gallery-text-right {
		left: 50% !important;
	}
	.video-icon h6 {
		padding: 5% 2% 0 5% !important;
	}
}

@media screen and (max-width: 624px) {
	.highLights {
		height: 33em !important;
    max-height: 33em !important;
	}
	#glance h1 {
    font-size: 2em !important;
    padding: 0.5em 0.5em 0 2em !important;
	}
	.bannerInd {
    left: 11% !important;
	}
	.gallery-text {
		top: 6% !important;
	}
	.gallery-text h1, .supakids-text h1 {
		font-size: 2em !important;
	}
	.gallery-text p, .gallery-btn a.btn, .video-icon h6 {
		font-size: 0.7em !important;
	}
	.gallery-text-right {
		left: 45% !important;
	}
	.video-icon h6 {
		padding: 5% 2% 0 5% !important;
	}

}

@media screen and (max-width: 400px) {

	.bannerInd {
    left: 15% !important;
	}
	.gallery-text h1, .supakids-text h1 {
		font-size: 1.2em !important;
	}
	.gallery-text p, .gallery-btn a.btn, .video-icon h6 {
		font-size: 0.6em !important;
	}
}

